*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgb(164, 116, 160),#572d2d 100%);
    min-height: 100vh;
}

.contenedor {
   position: relative;
   height: 200px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.contenedor-texto {
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: aliceblue;
}

.titulo{
    font-size: 45px;
}

.subtitulo{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(208, 186, 186);
    border-radius: 4px;
    text-decoration: none;
    color:rgb(108, 110, 112);
}

.contenedor-imagen{
    flex-basis: 50%;
    position: relative;
    text-align: left;
}

.cta:hover{
    background-color: azure;
    transform: scale(1.05) translateY(2px);
}

.cta:active{
    background-color: azure;
    transform: scale(0.95) translateY(2px);
}

.table_responsive{
    position: absolute;
    top: 150px;
    right: 0;
    display: flex;
    border-collapse: collapse;
}

.table_responsive tr th{
    background-color: rgb(147, 114, 114);
    color: rgb(5, 5, 5);
    border: 1px solid #000000;
    padding: 5px;
    text-align: left;
}

.table_responsive tr td{
    border: 1px solid #000000;
    padding: 5px;
}

.table_responsive tr:nth-of-type(odd){
    background-color: #e6e6e6;
}

@media screen and (max-width: 800){
    .contenedor{
        flex-direction: column-reverse;
    }
    .table_responsive{
        flex-direction: column-reverse;
        width: 80%;
    }
    .contenedor-texto{
        display: flex;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
    }
    .titulo{
        font-size: 40px;
    }
    .subtitulo{
        font-size: 20px;
    }
    .contenedor-imagen{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img{
        height: 90%;
    }
}

@media screen and (max-width: 500px){
    .contenedor-imagen{
        flex-basis: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table_responsive{
        position: relative;
    }
    .contenedor-texto{
        flex-basis: 50%;
        justify-content: flex-start;
    }
    .titulo{
        font-size: 35px;
    }
}