*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgb(164, 116, 160),#572d2d 100%);
    min-height: 100vh;
}

.contenedor {
   position: relative;
   height: 600px;
   display: flex;
   align-items: center;
}

.contenedor-texto {
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
    color: aliceblue;
}

.titulo{
    font-size: 45px;
}

.subtitulo{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(208, 186, 186);
    border-radius: 4px;
    text-decoration: none;
    color:rgb(108, 110, 112);
}

.contenedor-imagen{
    flex-basis: 50%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
}

